@page "/"

@inject Blazored.LocalStorage.ISyncLocalStorageService LocalStorage
@inject NavigationManager NavigationMenager

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello</h1>
        Welcome. To see your information Sign in
    </NotAuthorized>
    <Authorized>
        <h1>Hello @LocalStorage.GetItemAsString("username").Trim(new Char[] { ' ', '"' })</h1>
        Welcome @LocalStorage.GetItemAsString("username").Trim(new Char[] { ' ', '"' }) to your Takout account.
        <p>
            Your location: Longitude: @LocalStorage.GetItemAsString("Longitude"), Latidude: @LocalStorage.GetItemAsString("Latidude")
        </p>
        <p></p>
        <div>
            <button type="button" @onclick="() => EditUser()" class="btn btn-primary" style='float:inline-start;'>Edit Profile</button>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private void EditUser()
    {
        // Console.WriteLine(time);
        NavigationMenager.NavigateTo("/editRestaurant");
    }
}
