@page "/"

@inject Blazored.LocalStorage.ISyncLocalStorageService LocalStorage

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <NotAuthorized>
        Welcome to your new app.
    </NotAuthorized>
    <Authorized>
        Welcome @LocalStorage.GetItemAsString("username") to your new app.
    </Authorized>
</AuthorizeView>

