@inherits LayoutComponentBase

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProv

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/mikic202/TakeoutApp" target="_blank">About</a>
            <AuthorizeView>
                <NotAuthorized>
                <a href="login">Sign In</a>
                </NotAuthorized>
                <Authorized>
                    <a class="nav-link" @onclick="Logout" style="cursor: pointer">
                        Logout
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("username");
        await AuthStateProv.GetAuthenticationStateAsync();
    }
}
